/***********   changing the colors codes  *****************/
.container {
  text-align: center;
  margin: 0px auto;
  border: 10px solid grey;
  border-radius: 5px;
  height: 400px;
  width: 200px;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  height: 30px;
  margin-top: 4px;
}

button {
  margin: 2px;
}

/***********   changing the shape codes  *****************/

.shape {
  width: 50px;
  height: 50px;
  border: 10px solid red;
  margin: 0px auto;
  margin-top: 40%;
  margin-bottom: 20%;
  /* border-radius: 20px 10px 10px 10px; */
}
