.container {
  text-align: center;
  margin: 0px auto;
  border: 10px solid grey;
  border-radius: 5px;
  height: 400px;
  width: 200px;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  height: 30px;
  margin-top: 4px;
}

button {
  margin: 2px;
}
